:root {
  --color-bg: #f4f4f4;
  --color-calculator-bg: #ffffff;
  --color-display-bg: #222831;
  --color-display-text: #00ff7f;
  --color-button-bg: #e0e0e0;
  --color-button-hover: #d1d1d1;
  --color-accent: #ff9f43;
  --color-equal: #10ac84;
  --color-dark-text: #333;

  --radius: 8px;
  --gap: 12px;
  --padding: 20px;
}

body.dark {
  --color-bg: #121212;
  --color-calculator-bg: #1e1e1e;
  --color-display-bg: #0d0d0d;
  --color-display-text: #00e676;
  --color-button-bg: #333;
  --color-button-hover: #444;
  --color-accent: #f57c00;
  --color-equal: #26a69a;
  --color-dark-text: #f5f5f5;
}
